body {
    position: relative;
    background-image: linear-gradient(rgb(136, 46, 46), rgb(5, 5, 5));
    background-size: cover;
    color: white;
}

header{
    display: flex;
    position: relative;
    height: 6.0vh;
}

.main-nav {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav a{
    display: flex;
    width: 20%;
    height: 100%;
    align-content: space-around;

    background-color: rgba(100, 100, 100, 0.7);
    transition: 500ms;

    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 2.0vh;
}

.main-nav a:hover{
    background-color: rgba(100, 100, 100, 1.0);
}

.main {
    display: grid;
    grid-column-gap: 2%;
    width: 60%;
    left: 20%;
    margin-top: 2%;
    padding: 10px;
    position: relative;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 20px;
}

.about {
    grid-template-columns: repeat(6, 1fr);
}

.about .text-short {
    grid-column: 2 / 7;
    font-size: 2.0vh;
}

.about .text-long {
    grid-column: 1 / 7;
    font-size: 2.0vh;
}

.avatar {
    grid-column: 1;
    height: 50%;
    left: 25%;
}

.avatar-img {
    height: 35.0vh;
    border-radius: 50%;
}


.cv {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, auto);
    
    height: 100.0vh
}

.name-dob {
    margin: 20px;

    grid-column: 1 / 4;
    grid-row: 1;
    font-size: 3.0vh;
}

.info-block-left {
    margin: 20px;

    grid-row: 2;
    grid-column: 1 / 4;
}

.info-block-right {
    margin: 20px;

    grid-row: 2;
    grid-column: 5 / 8;
}

.cv .avatar {
    margin: 10px;

    grid-column: 7;
    grid-row: 1 / 2;
}


.ddr .text-short {
    grid-column: 1;
    font-size: 2.0vh;
}

.ddr .text-long {
    grid-column: 1;
    font-size: 1.5vh;
}

footer {
    margin-top: 2%;
    display: flex;
    position: relative;
    height: 6.0vh;
    left: 20%;
}

footer a {
    display: flex;
    width: 20%;
    height: 100%;
    align-content: space-around;

    background-color: rgba(100, 100, 100, 0.7);
    transition: 500ms;

    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 2.0vh;
}

footer a:hover {
    background-color: rgba(100, 100, 100, 1.0);
}